.containerErro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin: 4%;
    padding: 24px;
    text-align: center;
}
.erro404{
    font-size: 150px;
}
.paragrafo{
    font-size: 30px;
}
.fotoTomada{
    width: 120px;
}
