@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

.cabecalho{
    background-color: rgb(173, 173, 0);
    position: relative;
    width: 100%;
}
.barraNavegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}
.barraNavegacao .titulo{
    color: #000;
    font-size: 24px;
    font-family: "Playwrite MX", Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: none;
}
.barraNavegacao .navegacaoOpcoes{
    display: flex;
    align-items: center;
    gap: 12px;
}
.navegacaoOpcoes .comoFunciona{
    cursor: help;
    font-size: 20px;
    color: #6c2cd4;
    text-decoration: underline;
}
.navegacaoOpcoes .fotoPerfil{
    width: 45px;
    border: 2px solid #000;
    border-radius: 50%;
}
/*****************/
@media(max-width: 536px){
    .barraNavegacao .titulo{
        font-size: 16px;
    }
    .navegacaoOpcoes .comoFunciona{
        font-size: 16px;
    }
    .navegacaoOpcoes .fotoPerfil{
        width: 36px;
    }
}