.containerLista{
    min-width: 100%;
}
.listaVotacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    margin: 28px 0;
}
/**** Item lista ****/
.itemLista{
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 30px 12px;
    max-width: 264px;
}
.itemLista:hover{
    transform: scale(1.15);
}
.itemLista .titulo-votacao{
    font-size: 35px;
}
.imagemVotacao{
    width: 160px;
    border-radius: 12px;
}
.containerParagrafo{
    max-width: 200px;
    word-wrap: break-word;
}
.containerParagrafo .paragrafo{
    text-align: justify;
}
.tituloVotacao{
    font-size: 28px;
}
/*******************/
@media(max-width: 536px){
    .listaVotacoes{
        gap: 20px;;
    }
    .itemLista{
        max-width: 164px;
    }
    .containerParagrafo{
        max-width: 160px;
    }
}
